header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .logo-wrapper {
    width: 100%;
    max-width: 1300px;
    position: relative;
    // border: 1px solid black;

    svg.logo {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;

      path#logo-heart-path {
        fill: $red;
      }
    }

    .title-wrapper {
      position: absolute;
      z-index: 10;
      left: 15%;
      top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      max-width: 900px;

      @media screen and (min-width: $break-m) {
        left: 30%;
        top: 18%;
        width: 70%;
      }

      a {
        margin: 3rem 0 0 0;
        text-decoration: none;
        color: $red;
        border: none;
        
        h1.title {
          font-family: 'Indie Flower', cursive;
          font-size: calc(3rem + 2vw);
          font-weight: bold;
        }
      }

      nav {
        width: 80%;
        font-family: Raleway, sans-serif;
        font-size: 1.3rem;

        ul {
          display: flex;
          justify-content: space-around;
          width: 100%;
          list-style: none;

          li {
            a {
              color: $darkgray;
              text-decoration: none;
              border-bottom: 0.15rem solid $bg;
              transition: all 200ms;

              &:hover {
                color: $purple;
                border-bottom: 0.15rem solid $purple;
              }
            }
          }
        }
      }
    }
  }
}
