// colors
$bg: #FFFFFF;
$gray: #474747;
$lightgray: rgb(117, 117, 117);
$darkgray: #19323C;
$red: #CE4A4A;
$purple: rgb(128, 35, 161);
$salmon: #FFA987;

// break points
$break-s: 430px;
$break-m: 600px;
$break-l: 1000px;
$break-xl: 1200px;
